@charset "utf-8";
/* CSS Document */

html, body 
	{
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #66b7b7;
	}
pre
{
	font-family:Arial, Helvetica, sans-serif;
	white-space:pre-wrap;
}
#container
{
	position: relative;
}
#header
{
	height: 40px;
	top: 0px;
	position: relative;
	background-color: #088;
}
	#header_kiri
	{
	width: 20%;
	height: 40px;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #088;
}
	#header_kanan
	{
	height: 40px;
	width: 20%;
	position: fixed;
	left: 80%;
	top: 0px;
	background-color: #088;
}
	.header_kanan_tombol 
		{
	width: 25%;
	height: 40px;
	float: left;
	display: block;
		}
			#container #header #header_kanan .header_kanan_tombol img 
			{
	margin: 0px 25%;
	height: 40px;
	width: 40px;
			}

	#header_tengah
	{
	height: 40px;
	width: 60%;
	position: fixed;
	left: 20%;
	top: 0px;
	z-index: 2;
}
#content
{
	font-family: Arial, Helvetica, sans-serif;
}
	#content_kiri
	{
	width: 20%;
	height: 100%;
	background-color: #06F;
	position: fixed;
	left: 0px;
	top: 40px;
	}
	#content_kanan
	{
	width: 20%;
	height: 100%;
	left: 80%;
	position: fixed;
	top: 40px;
	background-color: #06F;
	}
	#content_tengah
	{
	width: 60%;
	height: 100%;
	position: relative;
	left: 20%;
	background-color: #66b7b7;
	overflow: hidden;
	min-height: 100%;
	top: 0px;
	}
		.content_tegah_content
		{
	background-color: #66b7b7;
	height: 100%;
	width: 100%;
	position: relative;
	bottom: 45px;
		}
			#header_user
			{
			margin:20px 0;	
			}
			.buat_kiriman
			{
	position: relative;
	top: -12px;
	width: 100%;
	height: 130px;
			}
			.isi_draft_kiriman
			{
				position:relative;
				width:100%;
				height:100%;
				background-color:#FFF;
			}
			.isi_konten
			{
	background-color: #FFF;
	width: 92%;
	height: 100%;
	margin: 20px 4% 0px;
	background-color: #FFF;
	padding: 1%;
			}
				.pengirim_konten 
				{
	height: 100%;
	width: calc(100% - 4px);
	margin: 5px 2%;
	background-color: #FFF;
				}
					.nama_pengirim 
					{
					height: 100%;
					margin-left: 2%;
					background-color: #FFF;
					padding: 0% 5px;
					float: left;
					width: 45%;
					font-weight: bold;
					}
					.waktu_konten 
					{
					height: 100%;
					width: 45%;
					margin-right: 2%;
					background-color: #FFF;
					padding: 0% 5px;
					float:right;
					text-align: right;
					}
				.pesan_konten 
				{
	height: 100%;
	width: calc (95% - 1px);
	margin: 10px 2% 0px;
	background-color: #FFF;
	padding: 0px 5px;
	z-index: 2;
				}
					.pre_span
					{
						font-family:Arial, Helvetica, sans-serif;
					}
#footer
{
	height: 40px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 2;
	width: 100%;
	background-color: #088;
	text-align: center;
}
